.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}

/* custom */
.icon-document{
	background:url('icons/google-docs.png') no-repeat center center;
}

.icon-config{
	background:url('icons/shield.png') no-repeat center center;
}